/* Стили для Main_Page.jsx */
main {
    padding: 7px;
    text-align: left; /*  Оставьте это, если нужно выравнивание текста в main  */
  }
  
  main h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333;
  }
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Адаптивная раскладка */
    gap: 20px; /* Отступы между карточками */
    padding: 20px; /* Отступы внутри контейнера */
}